.main__comfort {
  padding-top: 100px;
  padding-bottom: 100px;
}

.comfort__container {
  display: flex;
  flex-wrap: wrap;
  gap: 260px;
  align-items: center;
}

.comfort__text-top {
  padding: 5px 10px;
  background-color: #e7e8e3;
  max-width: 101px;
  border-radius: 20px;
  margin-bottom: 24px;
}
.comfort__title {
  font-size: 48px;
  max-width: 453px;
  margin-bottom: 24px;
}
.comfort__text {
  color: #65665c;
  max-width: 450px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 24px;
}

.comfort__image {
  max-width: 600px;
}

.comfort__image img {
  max-width: 100%;
  border-radius: 20px;
}

/*Media*/

@media (max-width: 1352.98px) {
  .comfort__container {
    gap: 200px;
  }
}

@media (max-width: 767.98px) {
  .comfort__container {
    gap: 100px;
  }
}
