.header__search-modal {
  font-family: "Arial";
  display: flex;
  justify-content: center;
}

.search-modal__button {
  background-color: #fff;
  font-size: 16px;
  cursor: "pointer";
}

.search-modal__modal {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: "center";
  justify-content: "center";
  z-index: 1000;
}
.search-modal__main-modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.search-modal__input {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.search-modal__list {
  margin-bottom: 20px;
}
.search-modal__item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #000;
}

.search-modal__item:hover {
  background-color: #cfcccc;
  transform: scale(0.95) translateY(4px);
  transition: all 0.2s ease 0.2s;
  box-shadow: 0 2px 4px rgba(17, 17, 17, 0.2);
}

.search-modal__link {
  font-size: 14px;
  color: #000;
}

.search-modal__link:hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .search-modal__button {
    font-size: 20px;
  }

  .search-modal__button img {
    max-width: 15px;
  }
}
